@mixin flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.hidden {
  display: none;
}

.lrdk-vital-modificator {
  width: 2.5rem !important;
}

.lrdk-separator {
  width: 0.5rem;
}

.lrdk-health-update {
  margin: 0 0.1rem;
}

.actor-sheet {
  img {
    height: 175px !important;
    width: auto !important;
  }

  .sheet-header {
    margin: 0 0 0.25rem 0;
    input[type="number"] {
      text-align: center;
    }
  }

  .sheet-header .lrdk-header-section {
    @include flex;
    flex-direction: row;
    width: 100%;
  }

  .lrdk-health-section {
    gap: 0.5rem;
    margin: 0.5rem 0;
    align-items: flex-start !important;

    input[name="system.age"],
    input[name="system.armor"] {
      width: 3rem;
    }
  }

  .lrdk-inv-section {
    gap: 0.5rem;
    margin: 0.5rem 0;
    align-items: flex-end !important;
  }

  .lrdk-talents,
  .lrdk-caracs {
    @include flex;
    flex-direction: row;
    width: 100%;
    margin: 0 0 0.5em 0;
    padding: 0.5em;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: #f0f0f0;
  }

  .lrdk-talents {
    flex-wrap: wrap;
    row-gap: 0.5rem;
    .lrdk-talent {
      @include flex;
      flex-direction: column;
      gap: 0.1em;

      input {
        text-align: center;
      }

      input,
      textarea {
        width: 9.5rem;
      }
    }
  }

  .lrdk-caracs {
    flex-wrap: wrap;
    gap: 1rem;
  }

  .lrdk-carac {
    @include flex;
    flex-direction: row;
    gap: 0.1em;

    input {
      text-align: center;
      width: 2.5rem;
    }
  }

  .lrdk-damage {
    @include flex;
    flex-direction: row;
    gap: 0.1em;

    input {
      text-align: center;
      width: 100%;
      margin: 0.5rem;
    }
  }

  .lrdk-notes {
    width: 100%;
    margin: 0;
    padding: 0.5em;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: #f0f0f0;
    .small-input {
      width: 3rem !important;
    }
  }
}
