<div class="health-bar">
  <div
    class="health-bar-fill"
    style="width:{{ value.percent }}%;background-color: {{ color }};"
  ></div>
  {{#if (not (eq value.lineValue undefined))}}
  <div
    class="health-bar-limit"
    style="left:{{ value.lineValue }}%;"
    id="health-bar-limit"
  ></div>
  {{/if}}
</div>
